
html, body {
	height: 100%;
	width: 100%;
	background: #d8d8d8;
}

.topHeader {
	height: 120px;
	width: 100%;
	background-color: #444;
}

.middle {
	height: 450px;
	width: 800px;
	background-color: white;
	margin: 0 auto;
}

.bottom {
	height: 150px;
	width: 800px;
	background-color: #222;
	margin: 0 auto;
}
